* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  background-color: pink;
}
.heroContainer {
  width: 100%;
  display: flex;
}
.heroRight {
  width: 40%;
  display: block;
  margin: 3em auto;
  padding-right: 7em;
}
.heroLeft {
  width: 55%;
}
.heroImage {
  width: 80%;
  height: 700px;
}
.headline {
  text-align: center;
  width: 100%;
  font-family: "Pacifico", cursive;
  color: var(--text-color);
  font-size: 5rem;
}
.subheadline {
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-family: bold;
}
.heroButton {
  padding: 1em;
  border: none;
  display: block;
  font-size: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(0, 204, 255);
  color: white;
  margin: 1.5em auto;
  cursor: pointer;
}
.heroButton:hover {
  background: linear-gradient(to right, pink, rgb(0, 204, 255));
}
