* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 17px;
  color: white;
  background-color: rgb(155, 212, 235);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding: 3px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.account a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem;
}

.social-icons a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Hover Effects */
.account a:hover,
.social-icons a:hover {
  color: #00aced;
}

/* Responsive Design */
@media (max-width: 768px) {
  .top-header {
    padding-top: 10px;
  }

  .search-container {
    width: 100%;
    text-align: center;
  }

  .search-input {
    width: 60%;
    max-width: 400px;
  }

  .account {
    width: 100%;
    margin-bottom: 10px;
  }
  .social-icons {
    width: 100%;
  }
}
